<nav id="header">
  <h1><a href="/"><%= title %></a></h1>
  <aside>
    <a href="/new"><span>Submit Message</span></a>
    <div class="socials">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-github"></ion-icon>
    </div>
  </aside>
</nav>
