/* Primary */
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  display: flex;
  background-color: var(--gray-700);
  padding: 1.5rem 4rem;
  color: var(--light);
  justify-content: space-between;
  align-items: center;
}

#header aside {
  display: flex;
  align-items: center;
  gap: 5rem;
}

#header aside span {
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px dashed var(--light);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

#header aside span:hover {
  background-color: var(--light);
  color: var(--dark);
  border-color: var(--dark);
}

#header h1 {
  font-size: 3rem;
}

.socials {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

main {
  padding: 10rem;
  background-color: var(--gray-400);
  flex-grow: 1;
  color: var(--dark);
}

main .title {
  font-size: 2rem;
  text-align: center;
}

.msg-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.msg-grid .msg {
  background-color: var(--light);
  border-radius: 0.5rem;
  padding: 2rem;
}

.msg {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.msg-content {
  margin-left: 2rem;
}

.msg-header span {
  font-weight: 700;
}
